.card__title {
  max-width: 186px;
  margin: 0;
  padding: 24px 0 30px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
