.popup__title {
  margin: 0 0 75px;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 900;
}

@media screen and (min-width: 1280px) {
  .popup__title {
    margin: 0 0 54px;
    font-size: 24px;
    line-height: 1.2;
  }
}
