.form__submit-button {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  min-height: 46px;
  color: #fff;
  background-color: #000;
  font-size: 14px;
  line-height: 1.21;
}

.form__submit-button:hover  {
  opacity: .8;
}

@media screen and (min-width: 800px) {
  .form__submit-button {
    font-size: 18px;
    line-height: 1.22;
  }
}

