.profile__edit-button {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  min-width: 18px;
  height: 18px;
  background: url(../../../images/profile__editButton.svg) no-repeat center / 10px;
  border: 1px solid #fff;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    min-width: 22px;
    height: 22px;
  }
}
