.link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.link:hover {
  opacity: 0.6;
}
