.popup__info {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 282px;
  margin: 0 auto;
  padding: 50px 22px 22px 22px;
  border-radius: 8px;
  position: relative;
  /* min-height: 322px; */
}

@media screen and (min-width: 1280px) {
  .popup__info {
    width: 430px;
    padding: 34px 36px 36px;
    max-height: 370px;
  }
}