@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);

@import url(./blocks/button/button.css);

/* link */
@import url(./blocks/link/link.css);
/* link */

/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__nav/header__nav.css);
@import url(./blocks/header/__nav/_hamburger/header__nav_hamburger.css);
@import url(./blocks/header/__nav/_auth/header__nav_auth.css);
@import url(./blocks/header/__hamburger/header_hamburger.css);
@import url(./blocks/header/__hamburger/_control/header__hamburger_control.css);
/* /header */

@import url(./blocks/content/content.css);

/* auth */
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__title/auth__title.css);
/* auth */



/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__link/profile__link.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__nickname/profile__nickname.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
/* /profile */

/* card */
@import url(./blocks/places/places.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__ctrl-wrapper/card__ctrl-wrapper.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__like-btn/card__like-btn.css);
@import url(./blocks/card/__like-btn/__active/card__like-btn_active.css);
@import url(./blocks/card/__delete-btn/card__delete-btn.css);
@import url(./blocks/card/__likes-wrapper/card__likes-wrapper.css);
@import url(./blocks/card/__count-likes/card__count-likes.css);
/* /card */

/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
/* /footer */


/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_type_zoom/popup_type_zoom.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__exit-button/popup__exit-button.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/popup/__info/_image/popup__info_image.css);
@import url(./blocks/popup/__info/_title/popup__info_title.css);

/* /popup */
/* form */
@import url(./blocks/form/form.css);
@import url(./blocks/form/__label/form__label.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type_error/form__input_type_error.css);
@import url(./blocks/form/__submit-button/_invalid/form__submit-buttom_invalid.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_visible/form__input-error_visible.css);
@import url(./blocks/form/__input/_backgrund-black/form__input_backgorund-black.css);
@import url(./blocks/form/__submit-button/_auth-button/form__submit-button_auth-button.css);
@import url(./blocks/auth/_subtitle/auth__subtitle.css);
/* /form */

/* NotFound */
@import url(./blocks/notFound/notFound.css);
@import url(./blocks/notFound/__title/notFound__title.css);
@import url(./blocks/notFound/___subtitle/notFound__subtitle.css);
@import url(./blocks/notFound/__link/notFound__link.css);
/* NotFound */


