.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  padding: 28px 0 26px;
  margin: 0 0 42px;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: calc(100% - 200px * 2);
    padding: 46px 0 36px;
    margin: 0 200px 42px;
  }
}
